AplicacaoFoodShop/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BibliotecaShopFood.ClassesBasicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BibliotecaShopFood.ClassesBasicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cartao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bandeira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeguranca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidade" type="xs:dateTime" />
      <xs:element name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cartao" nillable="true" type="tns:Cartao" />
</xs:schema>