AplicacaoFoodShop/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BibliotecaShopFood.ClassesBasicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BibliotecaShopFood.ClassesBasicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Carrinho">
    <xs:sequence>
      <xs:element name="Cartaocreditoid" nillable="true" type="tns:Cartao" />
      <xs:element name="Numero" type="xs:int" />
      <xs:element name="Usuarioid" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrinho" nillable="true" type="tns:Carrinho" />
  <xs:complexType name="Cartao">
    <xs:sequence>
      <xs:element name="Bandeira" nillable="true" type="xs:string" />
      <xs:element name="CodigoSeguranca" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="Numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cartao" nillable="true" type="tns:Cartao" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="Endereco" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="IsAdm" nillable="true" type="xs:string" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Senha" nillable="true" type="xs:string" />
      <xs:element name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfCarrinho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carrinho" nillable="true" type="tns:Carrinho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrinho" nillable="true" type="tns:ArrayOfCarrinho" />
  <xs:complexType name="ArrayOfCartao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cartao" nillable="true" type="tns:Cartao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartao" nillable="true" type="tns:ArrayOfCartao" />
  <xs:complexType name="Loja">
    <xs:sequence>
      <xs:element name="Cnpj" type="xs:int" />
      <xs:element name="NomeFantasia" nillable="true" type="xs:string" />
      <xs:element name="RazaoSocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loja" nillable="true" type="tns:Loja" />
  <xs:complexType name="ArrayOfLoja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loja" nillable="true" type="tns:Loja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoja" nillable="true" type="tns:ArrayOfLoja" />
  <xs:complexType name="NotaFiscal">
    <xs:sequence>
      <xs:element name="Carrinho" nillable="true" type="tns:Carrinho" />
      <xs:element name="DataEmissao" type="xs:dateTime" />
      <xs:element name="Numero" type="xs:int" />
      <xs:element name="PrecoTotal" type="xs:decimal" />
      <xs:element name="QuantidadeProduto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
  <xs:complexType name="ArrayOfNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscal" nillable="true" type="tns:NotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscal" nillable="true" type="tns:ArrayOfNotaFiscal" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element name="CodigoBarra" nillable="true" type="xs:string" />
      <xs:element name="Descricao" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="Marca" nillable="true" type="xs:string" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>